<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid" style="">
    <div class="container p-5"  *ngIf= "request">
        <div class="col-lg-12 col-md-12 mb-4">
          <div class="card h-100 shadow-lg">
            <div class="card-body">
              <div class="text-center p-3">
                <h5 class="card-title">Pension Amount</h5>
                <br><br>
                <span class="h2">₹ {{request.pensionAmount}}</span>
                <br><br>
              </div>
              <p class="card-text">Below bank charges are applicable!</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Bank Charges: {{request.bankServiceCharge}}</li>             
            </ul>
            <div class="card-body text-center">
              <button type="button"  [routerLink]="['/forms/success']" routerLinkActive="router-link-active"  class="btn btn-outline-primary me-2">Proceed</button>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </body>
</html>


