<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 text-dark text-decoration-none">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link px-2">Home</a></li>
      <li><a [routerLink]="['/forms/aadhaar']" routerLinkActive="active" class="nav-link px-2">Process Pension</a></li>
      <!-- <li><a [routerLink]="['/contact']" routerLinkActive="active"  class="nav-link px-2">Contact Us</a></li> -->
      
    </ul>
    <ng-container *ngIf="(currentUser$ | async) === null" >
      <div class="nav col-md-3 col-md-auto mb-2 justify-content-center mb-md-0">
        <button type="button"  [routerLink]="['/account/login']" routerLinkActive="router-link-active"  class="btn btn-outline-primary me-2">Login</button>
      </div>
    </ng-container>
    
    <ng-container *ngIf="currentUser$ | async">
      <div class="nav col-md-3 col-md-auto mb-2 justify-content-center mb-md-0">
      <p>Welcome <strong>{{(currentUser$ | async).displayName}}</strong></p>
      <a (click)="logout()" class="mx-2 btn btn-warning" style="cursor: pointer;">Logout</a>
      </div>
      
    </ng-container>

  </header>